<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Faça uma doação</title>
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/navbar.css" />
  </head>
  <body>
    <div class="navbar">
      <ul class="items">
        <img
          src="https://icon-library.com/images/white-microphone-icon/white-microphone-icon-4.jpg"
          alt=""
        />
        <a href="/"><li>Home</li></a>
        <a href="/episodios"><li>Episódios</li></a>
        <a href="/loja"><li>Loja</li></a>
        <a href="/doe" class="active"><li>Faça uma Doação</li></a>
      </ul>

      <div class="login">
        <a href="#">Login</a>
      </div>
    </div>

  </body>
</html>
