<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Uhhh Podcast</title>
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/navbar.css" />
  </head>
  <body>
    <div class="navbar">
      <ul class="items">
        <img
          src="https://icon-library.com/images/white-microphone-icon/white-microphone-icon-4.jpg"
          alt=""
        />
        <a class="active" href="/"><li>Home</li></a>
        <a href="/episodios"><li>Episódios</li></a>
        <a href="/loja"><li>Loja</li></a>
        <a href="/doe"><li>Faça uma Doação</li></a>
      </ul>

      <div class="login">
        <a href="#">Login</a>
      </div>
    </div>
    <div class="content">
      <div class="header">
        <img
          class="img1"
          src="https://icon-library.com/images/white-microphone-icon/white-microphone-icon-4.jpg"
          alt=""
        />
        <div class="title">
          <div class="titulo">Uhhh</div>
          <div class="subtitulo">Podcast</div>
        </div>
        <img
          src="https://icon-library.com/images/white-microphone-icon/white-microphone-icon-4.jpg"
          alt=""
        />
      </div>
      <div class="box">
        <div class="player-box">
          <div class="player">
            <div class="display">Nosso podcast mais ouvido:</div>
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/WZIGwN-5Ioo?rel=0&modestbranding=1&autohide=1&showinfo=0&controls=1"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>

          <div class="info">
            <div class="display">Episódio #01</div>
            <div class="conteudo">
              Nesse episódio recebemos o convidade Mc Poze apresentando sua obra
              remixada no &QUOT;80's Style&QUOT; Lorem ipsum dolor, sit amet
              consectetur adipisicing elit. Officiis assumenda exercitationem
              nemo iste amet vitae fuga iusto mollitia dolor, quam delectus
              inventore hic quia magnam harum voluptas, ducimus provident iure?
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Laboriosam dolorem reprehenderit expedita, maxime pariatur
              exercitationem tempore perspiciatis amet, doloribus ipsum
              voluptates facilis consequatur minima, error enim incidunt rem non
              voluptas? Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Error ad aliquid vero iste, doloremque praesentium. Voluptates
              perspiciatis perferendis molestias
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
